.shapesContainer {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.inputField {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #005bb5;
}

.resultCanvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.result.success {
    color: green;
}
  
.result.error {
    color: red;
}

.canvas {
    border: 1px solid #ccc;
    background-color: white;
}

.menuButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuButton:hover {
    background-color: #005bb5;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}